@page "/"

<div class="home-container">
    <div class="profile-header">
        <div class="image-frame">
            <img src="images/profile_razor.jpg" alt="Alexander Resula" class="profile-img" />
            <div class="scanline"></div>
        </div>
    </div>

    <div class="system-separator">
        <span class="line"></span>
        <span class="separator-text">USER_PROFILE_DATA</span>
        <span class="line"></span>
    </div>

    <div class="description-section">
        <ul class="terminal-list"> 
            <li><span class="label">[NAME]:</span> Alexander Resula</li>
            <li><span class="label">[ROLE]:</span> Information Technology Student</li>
            <li><span class="label">[LOC ]:</span> Philippines</li>
            <li><span class="label">[TECH]:</span> C, Java, HTML, CSS</li>
        </ul>
    </div>
</div>